<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/app.css">

</head>
<body class="p-5">

<div id="app">
<ul>
  <li v-for="(product, index) in products">{{product}} - {{ index }}</li>
</ul>
  <div v-for="(product, index) in products">
    <h3> {{ product }}</h3>
    <p> {{ index }}</p>
  </div>
  <template v-for="(product, index) in products">
    <h3> {{ product }}</h3>
    <p> {{ index }}</p>
  </template>

</div>
<!--vue.js i script olarak sayfamıza ekliyoruz-->
<script src ="../assets/js/vue.js"></script>
<script>
  const mrv= new Vue({
    el:'#app',
    data: {
      products :["monitör", "klavye", "askı", "masa"],
      persons : [
        {name : "merve", email : "merdem@gmail.com"},
        { name:"nur", email :"nurdem@gmail.com"},
        { name : "müne",  email: "müne@gmail.com"},

      ]
    }
  })
</script>
</body>
</html>
